/*--Andrew Durbin / IS 201 (003) / Edited 23:00 31 August 2022*/

.speclink {
    color: white;
}

.midtitle{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}